

	* {

		box-sizing:border-box;
		text-overflow: ellipsis;
	}
	.logo h1 {
		font-family: 'shrikhand', cursive;
		margin-left: 60px;
		margin-right: 75px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	

	.logo {
		margin-top: auto;
		box-shadow: none;
	}
	.next {
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: none;
		font-size: larger;
		text-align: left;
		position:absolute;
		top: 2.5%;
		left: 15px;
	}
	.back_img {
		height: 200px;
		width: 100%;
		/* position: relative; */
		
	}
	.menu {
		background-color: rgb(236, 234, 234);
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		width: 100%;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		padding-top: 20px;
		padding-bottom: 80px;
		position: relative;
		margin-top: -33px;
		z-index: 1;
		/* margin: O 1.5rem -7rem -1.5rem; */
	}

	

	.margintext {
		margin-left: 10px;
		margin-bottom: 50px;
	}
	.titlemenu {
		font-family: 'shrikhand', cursive;
		margin-left: 10px;
		margin-bottom: 50px;
	}
	.menutbuttontitle {
		border-bottom: 3px solid #99E2D0;
		width: 10%;
		font-weight: 300;
		font-size: large;
		padding-bottom: 5px;
	}
	.buttons {
		display: flex;
		/* flex-direction: column; */
		width: calc(97%);
		margin-bottom: 15px;
		border-radius: 15px;
		border: none;
		box-shadow: 5px 1px 8px #b3aeae;
		background-color: white;
		height: 65px;
		justify-content: space-between;
		overflow: hidden;
		animation: delaybutton 1s ease-out forwards;
		opacity: 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		
		
		
	}



	.buttons h2 {
		font-size: medium;
		margin-bottom: 3px;
	}
	.buttons p {
		margin-top: 0;
		
	
	}


	@keyframes delaybutton {

		0% {opacity: 0;
		}

	

		100% {
			opacity: 1;
			transform: rotateY(20%);
			
		}


		
	}

	.n1 {

		animation-delay: 1s;
		
		
	}

	.n2 {

		animation-delay: 2s;
	
	}

	.n3 {

		animation-delay: 3s;
		
	}

	.n4 {

		animation-delay: 4s;
		
	}
	.pricerow {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.textcol {

		display: flex;
		flex-direction: column;
		text-align: start;
		width: calc(700%);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		
	}

	.check {

		background-color: #99E2D0;
		display: flex;
    	align-items: center;
    	justify-content: center;
		color: white;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		width: 100px;
  	  	height: 65px;
		position: relative;
		left: 110px;
		bottom: 1px;
		font-size: x-large;
		
		
	}

	.buttons:hover .check i {

		transform: rotate(360deg);
		transition: 900ms;
	}


	.buttons:hover .check{
		
		transition: 200ms;
		left: 7px;
		
		
	}

	.buttons:hover .textcol {

		width: 100%;
	}

	.centerbtn {

		display: flex;
		justify-content: center;
	}

	.btncommander {

		background: linear-gradient(#FF79DA, #9356DC);
		height: 50px;
		border-radius: 25px;
		width: 50%;
		color: white;
		border: none;
		box-shadow: inset;
		font-family: 'Roboto';
		font-size:medium;
		box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
		display: flex;	
		align-items: center;
		justify-content: center;
	}


@media screen and (min-width:992px){

	.margintext {

	
		margin-bottom: 10%;
		display: inline-block;
    
	}


}

@media  screen and (max-width: 1460px) and (min-width: 992px) {


	.margintext {

		margin-left: 5%;
	}

	
	
}


@media  screen and (max-width: 1306px) and (min-width: 992px) {

	.margintext {

		margin-left: 3%;
	}



}

@media  screen and (max-width: 1223px) and (min-width: 992px) {

	.margintext {

		margin-left: 2%;
	}



}

@media  screen and (max-width: 1185px) and (min-width: 992px) {

	.margintext {

		margin-left: 1%;
	}



}

@media  screen and (max-width: 1148px) and (min-width: 992px) {

	.margintext {

		margin-left: 1px;
	}



}

@media  screen and (max-width: 1120px) and (min-width: 992px) {

	.margintext {

		flex-direction: column;
		display: flex;
		margin-left: 10px;
	}



}
